.details_container {
  height: 500px;
  width: 500px;
  box-shadow: 2px 2px 50px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid black;
  text-align: center;
  display: flexbox;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #414141;
  padding: 20px;
  border-radius: 8px;
}

.ditails_search-input {
  height: 350px;
  width: 450px;
  border-radius: 8px;
}

.notificatio,
.print {
  height: 45px;
  width: 150px;
  border: 1px solid #c8c9ce;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #18a0fb;
  text-align: center;
  margin: 20px;
  border-radius: 8px;
}
