/* .searchTableContiner {
  margin-left: 800px;
} */

.list_search-input {
  
  border: 1px solid #c8c9ce;
  font-size: 16px;
  font-weight: 300;
  height: 80px;
  width: 750px;
  background-color: whitesmoke;
  margin-top: 50px;
  margin-bottom: 5px;
  border-radius: 8px;
  
}

.list_search-button {
  height: 55px;
  width: 120px;
  border-radius: 8px;
  border: 1px solid #c8c9ce;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #18a0fb;
  text-align: center;
  margin-left: -15%;
}
