.table-table-dark {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  width: 750px;
  height: 350px;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.bodySction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}
